<p id="notice"><%= notice %></p>

<h1>Listing White Labels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @white_labels.each do |white_label| %>
      <tr>
        <td><%= link_to 'Show', white_label %></td>
        <td><%= link_to 'Edit', edit_white_label_path(white_label) %></td>
        <td><%= link_to 'Destroy', white_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New White label', new_white_label_path %>
